.errortext {
    color: red;
}
.form-register .input {
    width: 100%;
}
.form-register .input-wrapper {
    position: relative;

    display: inline-block;
    width: 33%;
}
.form-register .input-wrapper__text {
    position: absolute;
    top: 50%;
    left:0.625rem;
    transform: translateY(-50%);
    font-size: 10px;
    color: #000;
}
.red {
    color: red;
}
.black {
    color: #000;
}
.input.error {
    background-color: red;
}
.input-hideen {
    display: none;
}
.checkbox__text_link {
    text-decoration: underline;
    border-bottom: none;
}